body{
    background-image: url('img/img-bg.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}
/* header */
.header{
    background-color: #071814;
    height: 5rem;
    width: 100%;
}
.header div{
    height: 10%;
}
.header h2{
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.header .img img{
    height: 80px;
    margin-left: 20px;
}
/* menu */
.menu{
    width: 40%;
    height: 20rem;
    margin: 0 auto;
    background-color: white;
    margin-top: 8rem;
    border-radius: 5px;
}
.formulaire{
    height: 80%;
}
.login-form{
    height: 15%;
    background-color: #3ebedf;
    padding: 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.login-form img{
    width: 5%;
    float: right;
    margin-top: -40px;
    color: white;
    margin-right: 20px;
}
h2{
    margin-left: 5%;
    color: white;
    margin-top: 10px;
}
input{
    padding: 10px;
    width: 80%;
}
.bouton{
    padding: 10px;
}
.bouton input{
    width: 30%;
    background-color: #3ebedf;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 15px;
}
.bouton a{
    text-decoration: none;
    text-align: center;
    color: gray;
    font-weight: bold;
    margin: 40px;
}
.texbox{
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}
.texbox input{
    padding: 20px;
    border-radius: 5px;
    border: solid 1px rgb(233, 233, 233);
    background-color: rgb(233, 233, 233);
    color: gray;
    font-weight: bold;
}
.texbox img{
    width: 5%;
    right: 10%;
    position: relative;
    top: 10px;
}
